@tailwind base;
@tailwind utilities;
@tailwind components;

/*
    Custom things
*/

:root {
    --logo-font: 'Figtree'
}

.container {
    @apply w-full min-h-screen flex justify-center items-center;
}

.main-box {
    @apply w-5/6 lg:w-3/4 min-h-full;
}

.logo {
    @apply font-semibold inline-block;
    font-family: var(--logo-font);
}

.title-box {
    @apply text-4xl md:text-5xl lg:text-7xl leading-tight md:leading-snug;
    font-family: var(--logo-font)
}

a {
    @apply inline-block relative;
}

a::after {
    display: block;
    position: absolute;
    width: 100%;
    height: 30%;
    content: '';
    padding: 0.25rem;
    top: 70%;
    left: 0%;
    opacity: 0.2;
    background-color: black;
    transition: 0.3s ease-in-out;
}

a:hover::after {
    top: 0%;
    height: 100%;
}

.contact-box {
    @apply text-xl lg:text-3xl mt-10 md:leading-normal lg:leading-normal;
    font-family: 'Inter'
}

@media screen and (max-width: 768px) {
    /* Mobile devices */
    .contact-box div {
        margin-bottom: 0.55rem;
    }
}